@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');


/*____General style____*/

body {
    padding: 0;
    margin: 0;

    background: #fff;
    font-family: 'Roboto';
    color: #000;
}

a, h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;

    text-decoration: none;
}


/*____Header____*/

.header {
    margin: auto;
    margin: 0 20px;

    max-width: 1700px;
    height: 200px;
    width: calc(100% - 40px);
    position: absolute;
    left: 50%;
    transform: translate(calc(-50% - 20px), 0);
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: block;
}

.header-nav {
    display: flex;
    align-items: center;
    width: 580px;
}

.header-nav-links {
    margin-right: 15px;
}

.header-nav-link {
    padding: 20px 24px;

    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.header-nav-login {
    padding: 15px 43px;

    border: solid 2px #5585ffbe;
    border-radius: 40px;
    color: #5584ff;
}


/*____Home____*/

.home {
    padding: 266px 20px 0px 20px;

    height: 834px;
    background: url(img/Home_background.png) no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
}

.home-title {
    margin-bottom: 5px;

    font: 100 60px 'Roboto', Arial, sans-serif;
    color: #fff;
}

.home-subtitle {
    margin-bottom: 95px;

    font: 400 36px 'Roboto', Arial, sans-serif;
    color: #8492af;
}

.home-startbutton {
    padding: 10px 55px;
    
    background: #5584ff;
    border-radius: 100px;
    font: 700 18px 'Roboto', Arial, sans-serif;
    color: #fff;
}

.home-dashboard-image {
    z-index: 1000;
}

.home-dashboard {
    position: absolute;
    top: 606px;
    left: 50%;
    transform: translate(-50%, 0);
}

.home-dashboard-effect {
    position: absolute;
    left: 0;
    top: 0;
    height: 493px;
    width: 882px;
    box-shadow:0 0 70px #152750;
    border-bottom: none;
    clip-path: inset(-90px -90px 0 -90px);
}


/*____Icon Features____*/

.icon-features {
    margin: 260px auto 0px;
    max-width: 1400px;
    height: 490px;
}

.icons {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.icon {
    width: 30%;
    text-align: center;
}

.icon-image {
    margin-bottom: 45px;
}

.icon-title {
    margin-bottom: 15px;

    font: 700 24px 'Roboto', Arial, sans-serif;
}

.icon-text {
    margin-bottom: 55px;

    max-width: 400px;
    font: 400 18px 'Roboto', Arial, sans-serif;
    color: #8492af;
}

.icon-morebutton {
    padding: 15px 85px;

    border: solid 1px #dadee7;
    border-radius: 100px;
    font: 700 18px 'Roboto', Arial, sans-serif;
    color: #000;
}

.icon-line {
    top: 33px;

    position: absolute;
    width: 220px;
    border-bottom: solid 1px #dadee7;
}

.line-1 {
    left: calc(32.5% - 110px);
}

.line-2 {
    left: calc(67.5% - 110px);
}

/*____You need Screen____*/

.you-need-screen {
    height: 850px;
    background-color: #f6f7fa;
    position: relative;
    overflow: hidden;
    box-shadow:0 0 300px #f1f1f4;
    border-bottom: none;
    clip-path: inset(-350px 0 0 0);
}

.you-need-content {
    padding-top: 175px;
    margin: auto;
    max-width: 1400px;
    z-index: 1000;
}

.you-need-title {
    margin: 0;
    margin-bottom: 35px;
    font: 100 60px 'Roboto', Arial, sans-serif;
    color: #0e1a35;
}

.you-need-text {
    margin: 0;
    margin-bottom: 30px;
    font: 400 18px 'Roboto', Arial, sans-serif;
    line-height: 1.8;
    width: 580px;
    color: #bdc4d4;
    z-index: 1000;
}

.text2 {
    margin-bottom: 56px;
}

.you-need-background {
    position: absolute;
    top: 100px;
    left: calc(100% - 1050px);
    z-index: 0;
}

.feature {
    margin-bottom: 18px;
    position: relative;

    font: 400 18px 'Roboto', Arial, sans-serif;
    color: #8492af;
}

.feature-enabled, .feature-disabled {
    margin-left: 90px;
    text-align: start;
}

.you-need-feature-enabled {
    margin-left: 45px;
    color: #5788ff;
    font-size: 22px;
}

.you-need-feature-enabled::before {
    position: absolute;
    content: '';
    height: 24px;
    width: 24px;

    border-radius: 100%;
}

.you-need-feature-enabled::before {
    border: 3px solid #5788ff;
    left: -45px;
}

.enabled-figure2::after, .enabled-figure2::before{
    position: absolute;
    content: '';
    background-color: #5788ff;
    border-radius: 2px;
}

.enabled-figure2::after {
    top: 13px;
    left: -35px;
    height: 2px;
    width: 10px;
    transform: rotate(-45deg);
}

.enabled-figure2::before {
    top: 14px;
    left: -37px;
    height: 2px;
    width: 6px;
    transform: rotate(45deg);
}

/*____Workflow Screen____*/

.workflow-screen {
    padding: 0 80px;
    height: 750px;

    display: flex;
    overflow: hidden;

    background: url(img/Home_background.png) no-repeat;
    background-position: 0 -105px;
    background-repeat: no-repeat;
    background-size: cover;
}

.workflow-background {
    padding-top: 105px;
    margin-right: 110px;
}

.workflow-content-wrapper {
    padding-top: 210px;
    margin-bottom: 40px;
    overflow: hidden;
}

.workflow-title {
    margin-bottom: 40px;
    color: #fff;
    font: 100 60px 'Roboto', Arial, sans-serif;
}

.workflow-text {
    margin: 0;
    margin-bottom: 30px;
    
    color: #8492af;
    font: 400 18px 'Roboto', Arial, sans-serif;
    line-height: 1.8;
}

.arrows {
    display: flex;

}

.arrow {
    position: relative;
    margin-right: 18px;

    height: 35px;
    width: 35px;
    border: 1px solid #9da6bb;
    border-radius: 100%;
}

.arrow::after {
    content: ''; 
    position: absolute; 
    top: 10px;
    border: 8px solid transparent;
}

.arrow-left::after {
    left: 2px;
    border-right: 11px solid #9da6bb;
}

.arrow-rigth::after {
    right: 2px;
    border-left: 11px solid #9da6bb;
}

/*____PSD Template Screen____*/

.psd-template-screen {
    background-color: #f6f7fa;
    box-shadow:0 0 300px #f1f1f4;
    border-bottom: none;
    clip-path: inset(0 0 -350px 0);
}

.psd-template-wrapper {
    margin: auto;
    padding-top: 90px; 

    height: 960px;
    max-width: 1400px;
}

.psd-template-title {
    margin-bottom: 55px;

    font: 100 60px 'Roboto', Arial, sans-serif;
    color: #0e1a35;
    text-align: center;
}

.psd-template-alltext {
    font: 400 18px 'Roboto', Arial, sans-serif;
    line-height: 1.8;
    width: 1000px;
    color: #8492af;
}

.psd-template-text {
    text-align: center;
}

.psd-template-text-margin {
    margin: auto;
    margin-bottom: 80px;
}

.psd-template-content {
    padding-top: 80px;
    height: 620px;
    background: url(img/Screen_Mockup.png) no-repeat;
    background-position: 84px 0;
    background-size: 1218px 681px;
}

.psd-template-element {
    position: relative;
    width: 300px;
}

.element1 {
    margin-bottom: 140px;
}

.element2 {
    margin-left: auto;
}

.psd-template-element-title {
    margin-bottom: 37px;    
    position: relative;
    font: 700 24px 'Roboto', Arial, sans-serif;
}

.psd-template-element-text {
    width: 240px;
}

.text-right, .title-right {
    text-align: end;
    margin-left: auto;
}

.psd-template-element-title::after {
    content: '';
    position: absolute;
    width: 650px;
    height: 0px;
    top: 46px;
    border-top: 2px solid #5584ff;
}

.title-left::after {
    left: 0;
}

.title-right::after {
    right: 0;
}

.psd-template-element-circle, .psd-template-element-circle::after {
    position: absolute;
    border-radius: 50%;
}

.psd-template-element-circle {
    width: 30px; 
    height: 30px;
    top: 32px;
    left: 635px;
    background: #5584ff;
}

.circle-right {
    left: auto;
    right: 635px;
}

.psd-template-element-circle::after {
    content: '';
    top: -8px;
    left: -8px;
    width: 46px; 
    height: 46px;
    background: #5585ffc2;
}

/*____Pricing Screen____*/

.pricing-screen {
    padding: 90px 20px 0px 20px;
    height: 960px;

    background-color: #fff;
    text-align: center;
}

.pricing-title {
    margin-bottom: 95px;

    font: 100 60px 'Roboto', Arial, sans-serif;
    color: #0e1a35;
    text-align: center;
}

.pricing-plans {
    display: flex;
    justify-content: space-between;
    margin: 0 300px 105px 300px;
}

.plan {
    padding-top: 45px;
    height: 375px;
    width: 360px;

    background-color: #fff;
    box-shadow: 0 0 50px #dcdde0;
}

.plan-title {
    margin-bottom: 40px;
    font: 400 24px 'Roboto', Arial, sans-serif;
}

.plan-price {
    margin-bottom: 35px;
    font: 700 40px 'Roboto', Arial, sans-serif;
}

.plan-price-major {
    font-size: 72px;
}

.plan-price-addition {
    font: 400 24px 'Roboto', Arial, sans-serif;
    color: #8492af;
}

.feature-enabled, .feature-disabled {
    margin-left: 90px;
    text-align: start;
}

.enabled::before, .disabled::before {
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;

    border-radius: 100%;
}

.enabled::before {
    border: 3px solid #5788ff;
}

.disabled::before {
    border: 3px solid #f83c7b;
}

.feature-enabled::before, .disabled::before {
    top: -2px;
    left: -35px;
}

.enabled-figure::after, .enabled-figure::before{
    position: absolute;
    content: '';
    background-color: #5788ff;
    border-radius: 2px;
}

.enabled-figure::after {
    top: 10px;
    height: 2px;
    width: 9px;
    transform: rotate(-45deg);
}

.enabled-figure::before {
    top: 12px;
    left: -3px;
    height: 2px;
    width: 5px;
    transform: rotate(45deg);
}

.pricing-features .enabled-figure::after {
    left: -25px;
}

.pricing-features .enabled-figure::before {
    left: -27px;
}

.disabled-figure::after, .disabled-figure::before {
    position: absolute;
    content: '';

    top: 10px;
    height: 2px;
    width: 11px;
    border-radius: 2px;

    background-color: #f83c7b;
}

.disabled-figure::after {
    transform: rotate(-45deg);
}

.disabled-figure::before {
    transform: rotate(45deg);
}

.pricing-features .disabled-figure::after, .pricing-features .disabled-figure::before {
    left: -28px;
}

.pricing-text {
    margin: auto;
    margin-bottom: 85px;
    max-width: 880px;

    font: 400 18px 'Roboto', Arial, sans-serif;
    color: #8492af;
}

.pricing-join-button{
    position: relative;
    padding: 13px 55px;
    
    background: #5584ff;
    border-radius: 100px;
    font: 700 18px 'Roboto', Arial, sans-serif;
    color: #fff;
}

.pricing-join-button::after, .pricing-join-button::before {
    position: absolute;
    content: '';

    top: 23px;
    width: 225px;
    border-bottom: 2px solid #dadee7;
}

.pricing-join-button::before {
    left: -255px;
}

.pricing-join-button::after {
    left: 218px;
}

/*____Footer____*/

.footer {
    padding: 0px 260px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    background-color: #0c1528;
}

.footer-right, .footer-nav-link {
    color: #8492af;
}

.footer-right {
    height: fit-content;
    margin: auto 0;
}

.footer-nav {
    display: flex;
    align-items: center;
}

.footer-nav-links {
    margin-right: 10px;
}

.footer-nav-link {
    padding: 20px 24px;

    font-size: 18px;
    font-weight: 400;
}

.footer-nav-social-link {
    padding: 8px;
}

/*____Animation____*/

.header-nav-link:hover, .footer-nav-link:hover {
    text-decoration: underline;
}

.header-nav-login:hover {
    text-decoration: none;
}

.header-nav-login, .home-startbutton, .icon-morebutton, .pricing-join-button {
    transition: background 0.2s ease-in;
}

.header-nav-login:hover {
    background-color: #5585ff;
    color: #fff;
}

.pricing-join-button:hover, .home-startbutton:hover {
    background-color: #3f65c4;
}

.icon-morebutton:hover {
    border-color: transparent;
    background-color: #5585ff;
    color: #fff;
}