@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');


/*____General style____*/

body {
    padding: 0;
    margin: 0;

    background: #fff;
    font-family: 'Roboto';
    color: #000;
}

a, h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;

    text-decoration: none;
}


/*____Header____*/

.header {
    margin: auto;
    margin: 0 20px;

    max-width: 1700px;
    height: 200px;
    width: calc(100% - 40px);
    position: absolute;
    left: 50%;
    transform: translate(calc(-50% - 20px), 0);
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: block;
}

.header-nav {
    display: flex;
    align-items: center;
    width: 580px;
}

.header-nav-links {
    margin-right: 15px;
}

.header-nav-link {
    padding: 20px 24px;

    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.header-nav-login {
    padding: 15px 43px;

    border: solid 2px #5585ffbe;
    border-radius: 40px;
    color: #5584ff;
}


/*____Home____*/

.home {
    padding: 266px 20px 0px 20px;

    height: 834px;
    background: url(img/Home_background.png) no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
}

.home-title {
    margin-bottom: 5px;

    font: 100 60px 'Roboto', Arial, sans-serif;
    color: #fff;
}

.home-subtitle {
    margin-bottom: 95px;

    font: 400 36px 'Roboto', Arial, sans-serif;
    color: #8492af;
}

.home-startbutton {
    padding: 10px 55px;
    
    background: #5584ff;
    border-radius: 100px;
    font: 700 18px 'Roboto', Arial, sans-serif;
    color: #fff;
}

.home-dashboard-image {
    z-index: 1000;
}

.home-dashboard {
    position: absolute;
    top: 606px;
    left: 50%;
    transform: translate(-50%, 0);
}

.home-dashboard-effect {
    position: absolute;
    left: 0;
    top: 0;
    height: 493px;
    width: 882px;
    box-shadow:0 0 70px #152750;
    border-bottom: none;
    clip-path: inset(-90px -90px 0 -90px);
}


/*____Icon Features____*/

.icon-features {
    margin: 260px auto 0px;
    max-width: 1400px;
    height: 490px;
}

.icons {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.icon {
    width: 30%;
    text-align: center;
}

.icon-image {
    margin-bottom: 45px;
}

.icon-title {
    margin-bottom: 15px;

    font: 700 24px 'Roboto', Arial, sans-serif;
}

.icon-text {
    margin-bottom: 55px;

    max-width: 400px;
    font: 400 18px 'Roboto', Arial, sans-serif;
    color: #8492af;
}

.icon-morebutton {
    padding: 15px 85px;

    border: solid 1px #dadee7;
    border-radius: 100px;
    font: 700 18px 'Roboto', Arial, sans-serif;
    color: #000;
}

.icon-line {
    top: 33px;

    position: absolute;
    width: 220px;
    border-bottom: solid 1px #dadee7;
}

.line-1 {
    left: calc(32.5% - 110px);
}

.line-2 {
    left: calc(67.5% - 110px);
}

/*____You need Screen____*/

.you-need-screen {
    height: 850px;
    background-color: #f6f7fa;
    position: relative;
    overflow: hidden;
    box-shadow:0 0 80px #f6f7fa;
    border-bottom: none;
    /* clip-path: inset(-180px 0 0 0); */
}

.you-need-content {
    padding-top: 175px;
    margin: auto;
    max-width: 1400px;
    z-index: 1000;
}

.you-need-title {
    margin: 0;
    margin-bottom: 35px;
    font: 100 60px 'Roboto', Arial, sans-serif;
    color: #0e1a35;
}

.you-need-text {
    margin: 0;
    margin-bottom: 30px;
    font: 400 18px 'Roboto', Arial, sans-serif;
    line-height: 1.8;
    width: 580px;
    color: #bdc4d4;
    z-index: 1000;
}

.text2 {
    margin-bottom: 50px;
}

.you-need-background {
    position: absolute;
    top: 100px;
    left: calc(100% - 1050px);
    z-index: 0;
}